/* vars */

:root {
    --bg1: #000000;
    --bg2: #1A1A1A;
    --ebbg: #101010;
    --ebwhite: #F0F0F0;
    --eblightgrey: #98A080;
    --ebgrey: #889090;
    --ebpurple: #7038D0;
    --cpurple: #8f63db;
    /* better contrast than ebpurple */
    --cbg: #2C2C2C;
    /* for alternating rows */
    --font-mono: "Maple Mono", "Lucida Console", "Courier New", monospace
}

@font-face {
    font-family: "Motherish";
    src: url('Motherish-Medium.otf') format('opentype');
    size-adjust: 120%;
}

@font-face {
    font-family: "Maple Mono";
    src: url('MapleMono-NF-Regular.ttf') format('ttf');
}

@font-face {
    font-family: "Maple Mono";
    src: url('MapleMono-NF-Italitc.ttf') format('ttf');
    font-style: italic;
}

html,
body {
    color-scheme: dark;
    color: white;
    margin: 0;
    font-family: Motherish;
}


p {
    line-height: 1.5rem;
}

/* EB borders */

fieldset {
    background-color: var(--ebbg);
    border-radius: 5px;
    border: none;
}

table {
    background-color: var(--ebbg);
    border-radius: 5px;
    /* border: 1px solid white; */
    box-shadow: 0 0 0 3px var(--ebgrey), 0 0 0 6px var(--ebwhite), 0 0 0 9px var(--ebgrey), 0 0 0 10px var(--ebbg);
    margin: 10px auto;
    border-collapse: collapse;
    /* border-spacing: 10px; */
}

th,
td {
    border: 1px solid var(--ebwhite);
    /* border-radius: 5px; */
    /* box-shadow: 0 0 0 3px var(--ebgrey), 0 0 0 6px var(--ebwhite), 0 0 0 9px var(--ebgrey), 0 0 0 10px var(--ebbg); */
    padding: 10px;
}

.alternatingrows:nth-child(even) {
    background-color: var(--cbg);
}

.lilbox,
.codeblock,
.boxbutton,
.imgbox {
    box-shadow: 0 0 0 3px var(--ebgrey), 0 0 0 6px var(--ebwhite), 0 0 0 9px var(--ebgrey), 0 0 0 10px var(--ebbg);
    margin: 10px auto;
}

code {
    background-color: var(--cbg);
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
    font-family: var(--font-mono);
}

.codeblock {
    margin-left: 15px;
    margin-right: 15px;
    font-family: var(--font-mono)
}

.codehighlight {
    color: var(--ebpurple)
}

legend {
    background-color: var(--ebbg);
    font-family: Motherish;
}

a {
    color: var(--cpurple);
}

a:visited {
    color: var(--cpurple);
}

a:hover {
    background-color: var(--ebpurple);
    color: var(--ebwhite);
}

.row {
    display: flex
}

.column {
    flex: 50%;
    padding: 1%;
}

button {
    background-color: var(--ebbg);
    border-radius: 5px;
    border: none;
    padding: 5px;
    color: var(--ebwhite);
    text-decoration: none;
    padding-top: 10px;
    margin: 10px 12px;
    font-family: Motherish;
    box-shadow: 0 0 0 3px var(--ebgrey), 0 0 0 6px var(--ebwhite), 0 0 0 9px var(--ebgrey), 0 0 0 10px var(--ebbg);
    cursor: pointer;
}

button:hover:not(:disabled) {
    background-color: var(--ebpurple);
}

input {
    font-family: var(--font-mono)
}

.fileupload {
    box-shadow: 0 0 0 3px var(--ebgrey), 0 0 0 6px var(--ebwhite), 0 0 0 9px var(--ebgrey), 0 0 0 10px var(--ebbg);
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    margin: 10px auto;
    cursor: pointer;
}

.fileupload:hover {
    background-color: var(--ebpurple);
}

.imgbox {
    border-radius: 5px;
    border: none;
    padding: 0px;
    overflow: hidden;
}

img {
    vertical-align: top;
}

.icon {
    height: 20px;
    width: 20px;
    margin-top: -1px;
    /* center aligns */
}

@media(max-width: 991px) {
    .content-desktop {
        display: none;
    }
}

@media(min-width: 991px) {
    .content-mobile {
        display: none;
    }
}

.text-article {
    padding-left: 15%;
    padding-right: 15%;
    text-wrap: pretty;
}

/* Don't include the article column padding for mobile screens */
@media(max-width: 991px) {
    .text-article {
        padding-left: unset;
        padding-right: unset
    }
}

/* triggered through JS */
@keyframes anim-burst { 
    0% { transform: scale(1.5, 1.5); };
    100% { transform: scale(1, 1); };
}
/* for repeating the anim */
@keyframes anim-burst-alt { 
    0% { transform: scale(1.5, 1.5); };
    100% { transform: scale(1, 1); };
}

.flex-half-box {
    display: flex;
    gap: 2%;
}
.flex-half {
    flex: 0 50%;
}

@media(max-width: 991px) {
    .flex-half-box {
        display: flex;
        flex-direction: column;
        gap: 2%;
    }
}

blockquote {
    background-color: var(--cbg);
    border-radius: 5px;
    padding: 5px;
    border-left: 5px solid var(--ebgrey)
}